@using Telegenic.Entities.ViewModels;
@using Telegenic.Entities.Models;

@model vmEntity


@using (Html.BeginForm("Save", "Episode", FormMethod.Post, new { @name = "save_episode" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading ">
            <h1 class="panel-title">@Model.PageHeading</h1>
        </div>
        <div class="panel-body">
            <fieldset>
                @Html.HiddenFor(m => m.Episode.Id)
                @Html.HiddenFor(m => m.Episode.Season_Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Episode.Title, new { @class = "col-sm-2 col-form-label" })
                    @Html.EditorFor(model => model.Episode.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Episode.EpisodeNumber, new { @class = "col-sm-2 col-form-label" })
                    @Html.EditorFor(model => model.Episode.EpisodeNumber, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Episode.Runtime, new { @class = "col-sm-2 col-form-label" })
                    @Html.EditorFor(model => model.Episode.Runtime, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Episode.PlaceholderImagePath, new { @class = "col-sm-2 col-form-label" })
                    @Html.EditorFor(model => model.Episode.PlaceholderImagePath, new { htmlAttributes = new { @class = "form-control", @placeholder = "Upload Placeholder Image" } })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Episode.Rating, new { @class = "col-sm-2 col-form-label" })
                    @Html.EnumDropDownListFor(x => x.Episode.Rating, "Select Rating", new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Episode.ElenaFriendly, new { @class = "col-sm-2 col-form-label" })
                    @Html.CheckBoxFor(m => m.Episode.ElenaFriendly, new { @class = "form-control" })
                </div>
                <button id="btnSubmit"
                        type="submit"
                        class="btn btn-primary"
                        data-action="save">
                    <i class="glyphicon glyphicon-ok"></i>
                    &nbsp;Submit
                </button>
                <a id="btnReset"
                   class="btn btn-primary"
                   href="@Url.Action("Index", "Episode", new { area = "Admin" })"
                   data-action="cancelSave">
                    <i class="glyphicon glyphicon-remove"></i>
                    &nbsp;Cancel
                </a>
            </fieldset>
        </div>
    </div>



}

