@using Telegenic.Entities.ViewModels;
@using Telegenic.Entities.Models;
@using Telegenic.Web.Plumbing.MVCHelpers;
@model vmEntity

    <div class="panel panel-primary">
        <div class="panel-heading ">
            <h1 class="panel-title">@Model.PageHeading</h1>
        </div>
        <div class="panel-body">
            <div class="panel-info">
                @Html.LabelFor(model => model.Movie.Title, new { @class = "" })
            </div>
            <div>
                <p>
                    <strong>
                        @Html.DisplayFor(m => m.Movie.Title, new { @class = "" })
                    </strong>
                </p>
            </div>

            <div class="panel-info">
                @Html.LabelFor(m => m.Movie.Genre.Name, new { @class = "" })
            </div>
            <div>
                <p>
                    <strong>
                        @Html.DisplayFor(m => m.Movie.Genre.Name, new { @class = "" })
                    </strong>
                </p>
            </div>
            <div class="panel-info">
                @Html.LabelFor(m => m.Movie.Runtime, new { @class = "" })
            </div>
            <div>
                <p>
                    <strong>
                        @Html.DisplayFor(m => m.Movie.Runtime, new { @class = "" })
                    </strong>
                </p>
            </div>
            <div class="panel-info">
                @Html.LabelFor(m => m.Movie.PlaceholderImagePath, new { @class = "" })
            </div>
            <div>
                <p>
                    <strong>
                        @Html.DisplayFor(m => m.Movie.PlaceholderImagePath, new { @class = "" })
                    </strong>
                </p>
            </div>
            <div class="panel-info">
                @Html.LabelFor(m => m.Movie.Rating, new { @class = "" })
            </div>
            <div>
                <p>
                    <strong>
                        @Html.DisplayFor(m => m.Movie.Rating, new { @class = "" })
                    </strong>
                </p>
            </div>
            <div class="panel-info">
                @Html.LabelFor(m => m.Movie.ElenaFriendly, new { @class = "" })
            </div>
            <div>
                <p>
                    <strong>
                        @Html.YesNo(m => m.Movie.ElenaFriendly)
                    </strong>
                </p>
            </div>

        </div>
    </div>