

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-brand">
                @Html.ActionLink("Telegenic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("About", "Index", "About", new { area = ""}, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu" style="">
                            @Html.ActionLink("Series", "Index", "Series", new { area = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Season", "Index", "Season", new { area = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Episode", "Index", "Episode", new { area = "Admin" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Movie", "Index", "Movie", new { area = "Admin" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Genre", "Index", "Genre", new { area = "Admin" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("SingleSeries", "Index", "SingleSeries", new { area = "Admin" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
