
@using Telegenic.Entities.ViewModels;
@using Telegenic.Entities.Models;
@model vmEntity


@{ 
    var _episodes = Model.Season.Episodes != null ? Model.Season.Episodes.Cast<Episode>() : new List<Episode>();

    var episodeVM = new vmEntityList<Episode>(_episodes);
    episodeVM.SearchEntity = Model.Season;
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">
            @Model.PageHeading
        </h1>
    </div>

    <div class="panel-body">
        <div id="tg-series-edit-form" class="tg-flex-container">
            <div class="tg-flex-child">
                @using (Html.BeginForm("Save", "Season", FormMethod.Post, new { @name = "save_season" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        @Html.HiddenFor(m => m.Season.Series_Id)
                        @Html.HiddenFor(m => m.Season.Id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Season.Title, new { @class = "col-sm-2 col-form-label" })
                            @Html.EditorFor(model => model.Season.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Season.Season_Number, new { @class = "col-sm-2 col-form-label" })
                            @Html.EditorFor(model => model.Season.Season_Number, new { htmlAttributes = new { @class = "form-control" } })

                        </div>

                        <button id="btnSubmit"
                                type="submit"
                                class="btn btn-primary"
                                data-action="save">
                            <i class="glyphicon glyphicon-ok"></i>
                            &nbsp;Submit
                        </button>
                        <button id="btnReset"
                                type="reset"
                                class="btn btn-primary"
                                data-action="cancelSave">
                            <i class="glyphicon glyphicon-remove"></i>
                            &nbsp;Cancel
                        </button>
                        @*@Html.ActionLink("Cancel", "Index", "Season", new { area = "Admin", seriesId = Model.Season.Series_Id }, new { @class = "btn btn-primary", id = "btnSeasonCancel" })*@
                    </fieldset>
                }
            </div>
            <div class="tg-flex-child col-lg-3">
                @Html.ActionLink("Return to Series Edit", "Save", "Series", new { area = "Admin", _seriesId = Model.Season.Series_Id }, new { id = "btnSeasonCancel", data_action = "edit" })
            </div>
        </div>


        @*<div id="tg-series-episode-list">
            @Html.Action("SeasonEpisodes", "Season", new { area = "Admin", _seasonId = Model.Season.Id })
        </div>*@

        @{
            if (Model.Season != null && Model.Season.Id > 0)
            {
                Html.RenderPartial("~/Areas/Admin/Views/Episode/_episodeCardList.cshtml", episodeVM);
            }
        }
    </div>
</div>



