@using Telegenic.Entities.ViewModels;
@model vmSearch


@using (Html.BeginForm("Find", "Genre", FormMethod.Post, new { @name = "search_genre" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">@Model.SearchHeading</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.SearchTerm, "Title")
                @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-footer">
            <button id="btnSearch" class="btn btn-sm btn-primary" type="submit" data-action="search">
                <i class="glyphicon glyphicon-search"></i>
                &nbsp;Search
            </button>
            <button id="btnReset" type="reset" class="btn btn-sm btn-primary" data-action="reset">
                <i class="glyphicon glyphicon-share-alt"></i>
                &nbsp;Reset
            </button>
            <button id="btnAdd"
                    class="btn btn-sm btn-success"
                    data-action="add"
                    href="@Url.Action("Save", "Genre", new { _genreId = 0 })">
                <i class="glyphicon glyphicon-plus"></i>
                &nbsp;Add
            </button>
        </div>
    </div>
}

