@using Telegenic.Entities.ViewModels;
@using Telegenic.Entities.Models;
@model vmEntity

<h2>@Model.PageHeading</h2>

@using (Html.BeginForm("Save", "Genre", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <fieldset>
        @Html.HiddenFor(m => m.Genre.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Genre.Name, new { @class = "col-sm-2 col-form-label" })
            @Html.EditorFor(model => model.Genre.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        @Html.ActionLink("Cancel", "Index", "Genre", new { area = "Admin" }, new { @class = "btn btn-primary" })
    </fieldset>
}